@font-face {
  font-family: "LFT Etica";
  src: url("./assets/LFTEtica/LFTEtica.eot");
  src: url("./assets/LFTEtica/LFTEtica.eot?#iefix") format("embedded-opentype"),
    url("./assets/LFTEtica/LFTEtica.woff2") format("woff2"), url("./assets/LFTEtica/LFTEtica.woff") format("woff"),
    url("./assets/LFTEtica/LFTEtica.ttf") format("truetype");
}

/* RESET & GENERAL*/
:root {
  --sGrey: #3c4858;
  --sLightGrey: #717e8f;
  --sLightestGrey: #aeb9c6;
  --sWhiteSmoke: #f7f8fb;
  --sRed: #f9423a;
  --sBlue: #2650ff;
  --sYellow: #f2a700;
  --sPurple: #9924ff;
  --sGreen: #07bb9c;
  --sTransparentOverlay: rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LFT Etica", sans-serif;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

section {
  margin-top: 36px;
}

h2 {
  font-size: 21px;
  color: var(--sGrey);
}

h4 {
  font-size: 12px;
  letter-spacing: 1.2px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
}

p {
  color: inherit;
  margin-top: 0.5em;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 980px;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: flex-end;
  color: gray;
  font-size: 14px;
}

.nav__item {
  padding: 8px 0;
}

.nav__item:not(:first-child)::before {
  content: "|";
  color: lightgray;
  padding: 0 8px;
}

.nav__item:hover {
  text-decoration: underline;
}

/* HEADER SECTION*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.header__logo {
  height: 36px;
}

.header__item {
  color: var(--sGrey);
  margin: 0 16px;
}

.header__item:hover {
  text-decoration: underline;
}

.header--text-grey {
  color: var(--sGrey);
  fill: var(--sGrey);
}

.header--text-lightest-grey {
  color: var(--sLightestGrey);
  fill: var(--sLightestGrey);
}

/* Button */
.btn {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  border: 1px solid currentColor;
}

.btn__img {
  vertical-align: middle;
  margin-right: 4px;
}

.btn__text {
  font-size: 16px;
  vertical-align: middle;
}

.btn--red {
  background-color: #feeceb;
  color: red;
  fill: red;
}

/* SEARCH SECTION */

.search__form {
  display: flex;
  padding: 1.5em;
  margin: 0 8px;
  color: var(--sGrey);
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
}

.search__form p {
  font-size: 14px;
}

.search__block {
  flex-grow: 1;
  margin: 0 0.3em;
}

.search__caption {
  margin-bottom: 0.5em;
}

.search__form > div:last-child {
  display: flex;
  align-items: flex-end;
}

/* Input */
.input {
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
}

.input:hover {
  border-color: grey;
}

.input--red-btn {
  z-index: -1;
  position: relative;
  background-color: var(--sRed);
  border: none;
  padding-left: 1.25em;
  padding-right: 1.25em;
  border: 1px solid transparent;
}

.input--red-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* piccolo bug sul border */
  border-radius: 4.2px;
}

.input--red-btn:hover::before {
  background-color: var(--sTransparentOverlay);
}

.input--red-btn:hover {
  border-color: var(--sTransparentOverlay);
}

.input__icon {
  fill: var(--sLightestGrey);
}

.input__text {
  font-size: 16px;
  color: var(--sGrey);
  background-color: transparent;
  border: none;
  margin-left: 10px;
  width: 100%;
}

.input__text::placeholder {
  font-size: 16px;
  color: gray;
}

/* EXPLORE SECTION */
.explore__title {
  margin-bottom: 24px;
  text-align: center;
  color: var(--sLightGrey);
}

.row {
  display: flex;
  justify-content: space-around;
}

.card {
  border-radius: 10px;
  margin: 0 0.5em;
  flex-basis: 25%;
  padding: 1.5em;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  z-index: -1;
}

.card__img {
  display: block;
  margin: 0 auto;
}

.card__btn {
  position: relative;
  margin-top: 32px;
  width: 100%;
  height: 32px;
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.card__btn:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--sTransparentOverlay);
}

.card--blue {
  background: var(--sBlue);
}

.card--yellow {
  background: var(--sYellow);
}

.card--purple {
  background-color: var(--sPurple);
}

.card--green {
  background-color: var(--sGreen);
}

/* TUTTO SUBITO SECTION*/
.tsubito {
  display: flex;
}

.tsubito__first {
  align-self: center;
}

.tsubito__first > p {
  color: var(--sLightGrey);
  line-height: 24px;
}

.tsubito__box {
  height: 216px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1 0 300px;
  align-items: flex-end;
}

.box--pay {
  background-image: url("./assets/pay.webp");
  margin-right: 1em;
}

.box--sell {
  background-image: url("./assets/sell.webp");
}

.btn--tsubito {
  background-color: var(--sRed);
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.btn--tsubito:hover {
  border: 1px solid transparent;
}

/* SELL WIDGET SECTION*/
.sell-widget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  min-height: 150px;
  border-radius: 5px;
  background: url("./assets/001_DESKTOP_inserisciannuncio.jpg") left center no-repeat;
  background-size: contain;
}

.sell-widget__text {
  color: var(--sGrey);
  flex-basis: 40%;
  margin-left: 235px;
}

.sell-widget__text > p {
  color: var(--sLightGrey);
}

/* MAGAZINE SECTION */
.magazine {
  display: flex;
  height: 300px;
}

.magazine__img {
  background: url("./assets/HP_BOX_earth_day_20220426.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 5px;
  flex-basis: 60%;
}

.magazine__text {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.magazine__text > h4 {
  text-transform: uppercase;
  color: var(--sRed);
}

.magazine__text > p {
  color: var(--sLightGrey);
}

/* SAFETY TIPS SECTION */
.safety {
  width: 100%;
  margin-top: 100px;
  background-color: var(--sWhiteSmoke);
  padding: 2em 1.25em;
}

.safety__body {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.safety__box {
  flex-basis: calc(100% / 3);
  display: flex;
  align-items: flex-end;
  height: 250px;
  padding: 1em;
  padding-top: 0;
  margin: 0 0.75em;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 8px;
}

.safety__box:first-of-type {
  margin-left: 0;
}

.safety__box:last-of-type {
  margin-right: 0;
}

.box--safety1 {
  background-image: url(./assets/safety1.webp);
}
.box--safety2 {
  background-image: url(./assets/safety2.webp);
}
.box--safety3 {
  background-image: url(./assets/safety3.webp);
}

/* APP WIDGET SECTION */
.app-widget {
  background-color: var(--sWhiteSmoke);
  width: 95%;
  margin: 5em auto;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-widget__header {
  font-size: 19px;
  color: var(--sGrey);
}

.app-widget > p {
  color: var(--sLightGrey);
}

.app-widget__badge-wrapper {
  margin: 1em 0;
}
.app-widget__badge-wrapper > * {
  margin: 0 0.5em;
}

/* DISCOVER SECTION */
.discover {
  width: 95%;
  margin: 0 auto;
  padding: 2em 0;
  border-top: 1;
}

.discover__section {
  margin: 1em 0;
  line-height: 21px;
}

/* FOOTER */
.footer {
  width: 95%;
  margin: 2em auto;
  margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer ul {
  display: flex;
  flex-flow: column wrap;
  max-height: 550px;
}

.footer li {
  margin: 0.75em 0;
  text-transform: capitalize;
}

.footer li:hover {
  text-decoration: underline;
}

.footer__icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
  vertical-align: middle;
}

.footer__subito {
  flex-basis: 50%;
}

.footer__app {
  flex-basis: 25%;
}
.footer__seguici {
  flex-basis: 25%;
}

.footer__bottom {
  text-align: center;
}

.footer__logo {
  width: 136px;
  height: 32px;
  margin-bottom: 1em;
}

/* UTILS */
.bold {
  font-weight: 600;
}

.text-red {
  color: var(--sRed);
}

.text-grey {
  color: var(--sGrey);
}

.text-light-grey {
  color: var(--sLightGrey);
}

.text-blue {
  color: var(--sBlue);
}

.text-purple {
  color: var(--sPurple);
}

.text-yellow {
  color: var(--sYellow);
}

.text-green {
  color: var(--sGreen);
}

.text-small {
  font-size: 14px;
}

.border-top-bottom {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

/* Display reset */
.header__mobile,
#logo-mobile,
h2.search__caption,
span.input__icon,
.card--mobile {
  display: none;
}

@media only screen and (max-width: 980px) {
  /* CONTAINER  */
  .container {
    padding: 0;
  }

  /* resetto il padding al container e lo setto alle section individualmente */
  /* (mi servono alcune section full-width) */
  .search,
  .explore,
  .tsubito,
  .sell-widget,
  .magazine-widget,
  .app-widget,
  .discover {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* NAV */
  .nav {
    display: none;
  }

  /* MAIN */

  main {
    /* padding per la nav */
    margin-top: 5em;
  }

  /* HEADER */
  .header {
    display: none;
  }

  .header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1em;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 9px;
    font-weight: 700;
    line-height: 16px;
  }

  #logo-mobile {
    display: flex;
    justify-content: center;
    height: 32px;
    flex-basis: 100%;
    margin-top: 3.5em;
  }

  .header__logo a,
  .header__logo img {
    height: 100%;
  }

  .header__mobile p {
    margin-top: 0;
  }

  .header__item {
    margin: 0;
    flex-basis: 20%;
    height: 100%;
    text-align: center;
  }

  .header__item:hover {
    text-decoration: none;
  }

  /* SEARCH SECTION */
  .search__form {
    padding: 0;
    box-shadow: none;
  }

  /* EXPLORE */
  .explore__title {
    font-size: 16px;
  }

  /* SELL WIDGET  */
  .sell-widget {
    margin-left: 1em;
    margin-right: 1em;
  }

  /* APP WIDGET */
  .app-widget {
    margin-bottom: 0;
    border-bottom: 1px solid lightgrey;
  }

  /* DISCOVER */
  .discover {
    width: 100%;
    margin-top: 2em;
    border: 0;
  }

  main {
    border-bottom: 1px solid lightgrey;
  }
}

@media only screen and (max-width: 768px) {
  /* HEADER */
  #logo-mobile {
    margin-top: 2em;
  }

  /* SEARCH FORM */
  .search__form {
    flex-direction: column;
  }

  .search__block {
    margin-bottom: 1em;
  }

  p.search__caption {
    display: none;
  }

  h2.search__caption {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
  }

  .search__block:not(:first-child) > p {
    display: none;
  }

  .input--red-btn {
    width: 100%;
  }

  .search__last-block svg.input__icon {
    display: none;
  }

  span.input__icon {
    display: inline-block;
    color: white;
    margin: 0 auto;
  }

  /* EXPLORE */

  .card--mobile {
    display: block;
  }

  .card {
    height: 85px;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .card__img:not(.card--mobile) {
    display: none;
  }

  .card__btn {
    display: none;
  }

  /* TSUBITO */
  .tsubito {
    min-height: 212px;
  }

  .tsubito__first > h2 {
    font-size: 16px;
  }

  .tsubito__first > p,
  .tsubito__first > a {
    font-size: 14px;
  }

  .tsubito__box {
    flex-basis: 144px;
    height: 159px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0;
  }

  .btn--tsubito {
    padding: 0;
    height: 32px;
    line-height: 32px;
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: 1em;
  }

  /* SELL WIDGET */
  .sell-widget {
    background-image: url("./assets/001_MOBILE_inserisciannuncio_small.svg.png");
    background-position-x: right;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2em;
  }

  .btn__img {
    display: none;
  }

  .sell-widget__text {
    margin-left: 0;
  }

  .btn--red {
    font-size: 14px;
    margin: 2em 0;
  }

  /* MAGAZINE */
  .magazine {
    flex-wrap: wrap;
    height: auto;
  }

  .magazine__img {
    flex-basis: 100%;
    padding-top: 56%;
  }

  .magazine__text {
    margin-top: 1em;
    flex-basis: 100%;
  }

  .magazine__text > h4 {
    margin-bottom: 1em;
  }

  /* APP WIDGET */
  .app-widget__badge-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .app-widget__badge-wrapper > a:last-child {
    margin-top: 1em;
  }

  /* FOOTER */
  .footer {
    flex-wrap: wrap;
  }

  .footer__subito,
  .footer__bottom {
    flex-basis: 100%;
  }

  .footer__seguici,
  .footer__app {
    margin-top: 1em;
    flex-basis: 50%;
  }
}
